node_modules
.env.example
/scripts/docker
**/node_modules
.git
package-lock.json
/client/package-lock.json
/server/package-lock.json
Dockerfile
.dockerignore
*.md
build
.devcontainer
./server/.env
./client/.env
